manifest {
    name        = 'lifebit-ai/exomiser-nf'
    description = 'A pipeline to perform variant prioritisation'
    mainScript  = 'main.nf'
    version     = 'v1.0'
}

docker.enabled = true

params {
  // Exomiser specific parameters
  reference_data_bucket = "s3://lifebit-featured-datasets"
  bucket_pattern = "lifebit-featured-datasets"
  exomiser_variant_fields = null
  mock_exomiser = false
  mock_exomiser_output_https_url = 'https://gist.githubusercontent.com/cgpu/dd028eb70af68f8fe0791ba3cff09242/raw/93e5bb37de7e8c53e054d7791b5363b0019c7645/exomiser.variants.tsv'
  outdir = 'results'
  input = null
  filename_hpo = ''
  sample_name = null
  config = 'conf/executors/standard.config'
  exomiser_data = 's3://lifebit-featured-datasets/pipelines/exomiser/very_fake/hg38'
  exomiser_phenotype_data = 's3://lifebit-featured-datasets/pipelines/exomiser/very_fake/2102_phenotype'
  cadd_snvs = 's3://lifebit-featured-datasets/pipelines/exomiser/very_fake/cadd_snvs'
  phenix_data = 's3://lifebit-featured-datasets/pipelines/exomiser/very_fake/phenix'
  application_properties = false
  auto_config_yml = false
  hpo_terms_file = false
  modes_of_inheritance = 'AUTOSOMAL_DOMINANT,AUTOSOMAL_RECESSIVE,X_RECESSIVE,UNDEFINED'
  prioritisers = 'hiPhivePrioritiser,phivePrioritiser,phenixPrioritiser'
  pathogenicity_sources = 'POLYPHEN,MUTATION_TASTER,SIFT'
  keep_non_pathogenic = false
  min_priority_score = 0.501
  keep_non_pathogenic = false
  analysis_mode = 'PASS_ONLY'
  exomiser_version = '12.1.0'
  exomiser_data_directory = '/data/exomiser-data-bundle'

  // Debugging related parameters
  debug_script = "ls -l"
  echo = false
  errorStrategy = 'terminate'

  // process resources defaults
  cpus = 1
  memory = 2.GB
  disk = '30.GB'
  time = 8.h
  
  // max resources limits defaults
  max_cpus = 32
  max_memory = 240.GB
  max_time = 8.h

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxErrors = 3
  maxRetries = 3
  maxForks = 200

  queueSize = 200
  executor = false
  
  // container versions
  exomiser_container_tag = '12.1.0'
  cloudos_cli_container_tag = '0.0.2'

  // awsbatch specific
  aws_batch_process_queue = null
  aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws'
  aws_batch_fetch_instance_type = true
  aws_region = 'ap-east-1'
}


profiles {
    standard { includeConfig params.config }
    awsbatch { includeConfig 'conf/executors/awsbatch.config' }
    eu_west_1 { includeConfig 'conf/cloud-region/eu_west_1.config' }
    eu_west_2 { includeConfig 'conf/cloud-region/eu_west_2.config' }
    test_full { includeConfig "conf/tests/full/test_full.config" }
    quay { includeConfig 'conf/containers/quay.config' }
}

includeConfig 'conf/data/data.config' // Loads in data
// includeConfig 'conf/resources.config' // Loads in resources

process {
  echo = params.echo
  errorStrategy = params.errorStrategy
  withName: exomiser {
    container = "quay.io/lifebitai/exomiser:${params.exomiser_container_tag}"
    containerOptions = "--volume ${params.exomiser_data_directory}:/data/exomiser-data-bundle/"
    memory = 6.GB
    cpus = 4
  }
}