params {
    exomiser_data = "${params.reference_data_bucket}/pipelines/exomiser/very_fake/hg38"
    exomiser_phenotype_data = "${params.reference_data_bucket}/pipelines/exomiser/very_fake/2102_phenotype"
    cadd_snvs = "${params.reference_data_bucket}/pipelines/exomiser/very_fake/cadd_snvs"
    phenix_data = "${params.reference_data_bucket}/pipelines/exomiser/very_fake/phenix"
}