params {
    input           = "${params.reference_data_bucket}/pipelines/parabricks/germline/output/HG001-NA12878-pFDA_S1_L001_20k.vcf"
    sample_name     = 'HG001_NA12878'
    hpo_terms_file  = "${params.reference_data_bucket}/pipelines/exomiser-nf/hpo_terms_file.txt"
    prioritisers    = 'hiPhivePrioritiser'
    exomiser_data   = "${params.reference_data_bucket}/pipelines/exomiser-data-bundle"
    application_properties = "${params.reference_data_bucket}/pipelines/exomiser-nf/application.properties"
}
