params {
    families_file     = "${params.reference_data_bucket}/pipelines/exomiser-nf/fam_file.tsv"
    prioritisers    = "hiPhivePrioritiser"
    exomiser_profile_files = "full"
    application_properties = "${params.reference_data_bucket}/pipelines/exomiser-nf/application.properties"
    auto_config_yml = "${params.reference_data_bucket}/pipelines/exomiser-nf/auto_config.yml"
}
